<div class="card shadow-1">
    <table class="table table-hover">
        <thead>
        <tr>
            <th colspan="2">
                <a class="btn btn-xs btn-primary float-right" href="{{ url('innomedio.redirect.index') }}">{{ 'innomedio.redirect.dashboard.view_all'|trans }}</a>
                <h5 class="mb-0">{{ 'innomedio.redirect.latest_errors'|trans }}</h5>
            </th>
        </tr>
        </thead>

        <tbody>
        {% for redirectHit in latest404pages(amount|default(5)) %}
            <tr>
                <td style="vertical-align: middle;"><a href="{{ url('innomedio.redirect.view', {id: redirectHit.redirect.id}) }}">{{ redirectHit.redirect.errorUrl }}</a></td>
                <td class="text-right"><a class="btn btn-sm btn-bold btn-round btn-default" href="{{ url('innomedio.redirect.view', {id: redirectHit.redirect.id}) }}">{{ 'innomedio.backend_theme.global.view'|trans }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>