{% extends "@InnomedioBackendTheme/backend_base.html.twig" %}

{% block content %}
    <div class="main-content mb-60">
        {% if redirects %}
            <div class="card">
                <div class="card-body p-0">
                    <table class="table mb-0">
                        <thead>
                        <tr>
                            <th>{{ 'innomedio.redirect.error_link'|trans }}</th>
                            <th>{{ 'innomedio.redirect.redirect'|trans }}</th>
                            <th>{{ 'innomedio.redirect.hits'|trans }}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>

                        {# @var redirect \Innomedio\RedirectBundle\Entity\Redirect #}
                        {% for redirect in redirects %}
                            <tr class="item-to-remove{% if not redirect.redirectUrl %} is-warning{% endif %}">
                                <td>{{ redirect.errorUrl }}</td>
                                <td>
                                    {% if redirect.redirectUrl %}
                                        <a target="_blank" href="{{ redirect.redirectUrl }}">{{ redirect.redirectUrl }}</a>
                                    {% else %}
                                        <div class="badge badge-danger">{{ 'innomedio.redirect.no_redirect_yet'|trans }}</div>
                                    {% endif %}
                                </td>

                                <td>{{ redirect.hits|length }}</td>

                                <td class="text-right">
                                    <div class="dropdown">
                                        <a class="text-lighter" href="#" data-toggle="dropdown" aria-expanded="false"><i class="ti-more-alt rotate-90"></i></a>
                                        <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end">
                                            <a class="dropdown-item" href="{{ url('innomedio.redirect.view', {id: redirect.id}) }}"><i class="fa fa-fw fa-search"></i> {{ 'innomedio.backend_theme.global.view'|trans }}</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="ajax-remove dropdown-item"
                                               href="{{ url('innomedio.redirect.remove', {id: redirect.id}) }}"
                                            ><i class="fa fa-fw fa-trash"></i> {{ 'innomedio.backend_theme.global.remove'|trans }}</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}