{% extends '@InnomedioBackendTheme/backend_base.html.twig' %}

{% block content %}


<div class="main-content mb-60">
    <div class="row">
        <div class="col-md-6">
            <form method="post" class="ajax-form" action="{{ url('innomedio.redirect.submit', {id: redirect.id}) }}">
                <div class="card">
                    <h4 class="card-title">{{ 'innomedio.redirect.setup_redirect'|trans }}</h4>

                    <div class="card-body">
                        <p>
                            <strong>{{ 'innomedio.redirect.error_link'|trans }}:</strong>
                            <br />{{ app.request.host }}{{ redirect.errorUrl }}
                        </p>

                        <div class="form-group">
                            <label for="input-normal">{{ 'innomedio.redirect.redirect_to'|trans }}:</label>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">{{ app.request.host }}</span>
                                <input type="text" class="form-control" name="redirect" value="{{ redirect.redirectUrl }}" aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                </div>

                <button class="btn btn-primary" type="submit" name="submit">{{ 'innomedio.redirect.save_redirect'|trans }}</button>
            </form>
        </div>

        <div class="col-md-6">

            <div class="card">
                <h4 class="card-title">{{ 'innomedio.redirect.hits'|trans }}</h4>

                <div class="card-body p-0">
                    <table class="table mb-0">
                        <thead>
                        <tr>
                            <th>{{ 'innomedio.redirect.date'|trans }}</th>
                            <th>{{ 'innomedio.redirect.ip'|trans }}</th>
                            <th>{{ 'innomedio.redirect.redirect'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>

                        {# @var hit \Innomedio\RedirectBundle\Entity\RedirectHit #}
                        {% for hit in hits %}
                            <tr class="item-to-remove">
                                <td>{{ hit.hitDate|date("m/d/Y H:i:s") }}</td>
                                <td>{{ hit.ip }}</td>
                                <td>{% if not hit.result %}<div class="badge badge-danger">404</div>{% else %}{{ hit.result }}{% endif %}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

